.showtask {
    width: 65%;
    margin-left: 17%;
    border: 1px solid black;
}

.task {
    width: 97%;
    border: 1px solid black;
}

.buttondiv {
    margin-left: auto;
    display: inline-block;
}

.description {
    display: block;
}